body {
    background-color: purple;
  }

.topnav {
    background-color: rgb(214, 28, 168);
    overflow: hidden;
    text-align: right;
    position: fixed;
    top: 0;
    left: 0;
    height: 34px;
    width: 100%;
  }
 

  .form-one {
    text-align: center;
    background-color: whitesmoke;
    border: 2px outset;
    border-radius: 5px;
    margin-top: 100px;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 500px;
  }

  .btn {
    background-color: rgb(101, 210, 218);
    padding: 5px 16px;
    border-radius: 4px;
    color: black;
    border: 4px dotted purple;
  }